<div class="a">
    <h1 style="color: red;">KORE</h1>
  
    <img  class="b" src="../assets/imagescomp/3.jpg" width="350px" height="350px">
    <div style="float: left;">
      <h2 style="color:red;">PRODUCT ENGINEERING</h2>
    <p>Our Product engineering services use hardware, embedded, software, and IT solutions for faster design, development, and launching of products. Today, lack of the right domain experience or technical expertise is not a barrier to building profitable products. </p>
    
  </div>
    <div class="col-auto" class="e">
        <button type="submit" class="btn btn-primary mb-2"(click)="service()">Submit</button>
      </div>
      
      
</div>