<div class="a"  >
    <h1 style="color: red;">KORE</h1>
    <img class="b"   src="../assets/imagescomp/1.jpg" width="350px" height="350px">
    <div style="float: left;">
      <h2 style="color:red;">IOT</h2>
     <p>Gadgeon provides end-to-end IoT engineering services from edge devices/sensors, cloud, to mobile/web applications. We serve enterprises, start-ups, and OEMs in connecting devices to IoT edge gateways communicating over different protocols. 
    </div>
    <div class="col-auto" class="e">
        <button type="submit" class="btn btn-primary mb-2" (click)="service()">Submit</button>
      </div>
</div>

